
.figtree{
  font-family: "Figtree", sans-serif;
  }

  .hero{
    background-image: url('images/header-img11.png.png');
  background-size: cover;
  background-position: bottom left;
    
  }

.search-form {
  position: absolute;
  width: 50%;
  transform: translateX(-50%);
}